<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="register-container">
    <div class="register-card">
      <div class="register-header">
        <h1>Registrar Categoría</h1>
        <p>Por favor, completa los detalles de la categoría</p>
      </div>

      <!-- Formulario de registro de Categoría -->
      <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="catName"
            placeholder="Nombre de la Categoría"
            maxlength="100"
            required
          >
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="catDetalle"
            placeholder="Detalle de la Categoría"
            maxlength="255"
            required
          >
        </div>

        <!-- Campo para seleccionar imagen -->
        <div class="form-group">
          <input
            type="file"
            class="form-control"
            (change)="onImageChange($event)"
          >
        </div>

        <!-- Botón para enviar los datos -->
        <button type="submit" class="btn btn-primary">
          Registrar Categoría
        </button>

        <button type="button" class="btn btn-secondary" (click)="router.navigate(['/perfil'])">
          Cancelar
        </button>
      </form>
    </div>
  </div>

  <app-footer class="app-footer"></app-footer>
</ion-content>
