<ion-content [fullscreen]="true">  
  <app-header></app-header>  
  <app-carrusel></app-carrusel>  

  <ion-header>
    <ion-toolbar>
      <ion-title>Nueva Categoría</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/maestro-categoria"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()" class="form-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Información de la Categoría</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <!-- Imagen de la categoría -->
                <div class="image-upload">
                  <ion-item class="upload-item">
                    <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" />
                  </ion-item>
                  <ion-item *ngIf="imagePreview">
                    <img [src]="imagePreview" alt="Imagen de la Categoría" class="image-preview">
                  </ion-item>
                </div>
              </ion-col>
  
              <ion-col size="8">
                <!-- Campos del formulario --> 
                <ion-item>
                  <ion-label class="input-label" position="stacked">Nombre</ion-label>
                  <ion-input class="input-field" formControlName="catName"></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label class="input-label" position="stacked">Descripción</ion-label>
                  <ion-textarea class="textarea-descripcion" formControlName="catDetalle"></ion-textarea>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
  
      <!-- Botones de acción -->
      <div class="button-container">
        <button class="btn btn-primary" type="submit" expand="block" [disabled]="!categoriaForm.valid">Crear Categoría</button>
      </div>
    </form>
  
    <!-- Toast para mostrar mensajes de confirmación -->
    <ion-toast [message]="toastMessage" [color]="toastColor" [duration]="3000" position="top" *ngIf="toastMessage">
    </ion-toast>
  </ion-content>
  
  <app-footer></app-footer>  
</ion-content>
