.category-menu-container {
  position: sticky;
  top: 0;
  width: 200px; /* Define un ancho fijo o máximo para el menú */
  height: 100vh; /* Mantiene el menú visible en toda la pantalla */
  overflow-y: auto;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 1rem; /* Ajuste de padding */
  flex-shrink: 0; /* Evita que el menú se reduzca */
}

.category-menu {  
  display: flex;  
  flex-direction: column;  
}  

.menu-item {  
  display: flex;  
  align-items: center;  
  padding: 1rem;  
  font-size: 1.125rem;  
  border: none;  
  border-radius: 0.5rem;  
  margin: 0.625rem 0;  
  background: linear-gradient(45deg, #4b0082, #3a0065);  
  color: #ffffff;  
  transition: background 0.3s, box-shadow 0.3s;  
}  

.menu-item:hover {  
  background: linear-gradient(45deg, #3a0065, #210336);  
}  

.menu-item.selected {  
  background: linear-gradient(45deg, #2c1b53, #140122);  
  color: #fff;  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);  
  transform: scale(1.05);  
}  

.menu-item ion-icon {  
  margin-right: 0.625rem;  
  font-size: 1.5rem;  
}  

.layout {
  display: flex;
}

.main-content {
  padding: 1rem;
  flex: 1; /* Permite que el contenido principal tome el espacio restante */
  margin-left: 1rem; /* Da espacio entre el menú y el contenido */
}

.category-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.productos-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Ajusta a 5 columnas */
  gap: 1.5rem;
  padding: 1rem 0;
  box-sizing: border-box;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; /* Ajusta el ancho al 100% dentro de cada columna */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(55, 71, 79, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-preview {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  border-radius: 4px;
}

.botones-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.producto-info {
  text-align: center;
  margin-top: auto;
}

.producto-info h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #333;
}

.brand, .product-id, .product-price, .payment-methods {
  font-size: 0.9rem;
  color: #555;
}

.custom-button12, .custom-button {
  padding: 0.625rem;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-button12 {
  background: linear-gradient(45deg, #28a745, #218838);
}

.custom-button12:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.custom-button {
  background: linear-gradient(45deg, #28a745, #218838);
}

.custom-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Responsivo */
@media (max-width: 1024px) {
  .productos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .productos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .productos-container {
    grid-template-columns: 1fr;
  }
}