<ion-content [fullscreen]="true">  
  <app-header></app-header>  
  <app-carrusel></app-carrusel>  

  <div class="layout">  
    <div class="category-menu-container">  
      <div class="category-menu">  
        <button   
          class="menu-item"   
          *ngFor="let categoria of categorias"   
          (click)="seleccionarCategoria(categoria)"  
          [ngClass]="{'selected': selectedCategory === categoria}"   >  
          {{ categoria.catName }} <!-- Muestra el nombre de la categoría -->  
        </button>  
      </div>  
    </div>  

    <div class="main-content">  
      <h2 class="category-title">Productos de la Categoría Seleccionada</h2>  
    
      <div *ngIf="productosSeleccionados.length > 0; else noProducts">  
        <div class="productos-container">  
          <div class="product-card" *ngFor="let producto of productosSeleccionados" (click)="irADetalleProducto(producto.productId)">  
    
            <!-- Imagen del Producto -->
            <div class="image-container">
              <img [src]="producto.imagen ? 'data:image/png;base64,' + producto.imagen : 'assets/img/default.jpg'" 
                   alt="Imagen del Producto" 
                   class="image-preview">  
            </div>
    
            <!-- Información del Producto -->
            <div class="producto-info">
              <p class="brand">{{ producto.marca || "No disponible" }}®</p>
              <h3>{{ producto.productName }}</h3>
              <p class="product-id">ID: {{ producto.productId }}</p>
              <p class="product-price">Precio: {{ producto.precio | currency }}</p>  
              <p class="payment-methods">Métodos de Pago: <span>Tarjeta, Transferencia, Efectivo</span></p>
    
              <!-- Botones de acción -->
              <div class="botones-container">
                <button class="custom-button12" (click)="agregarAlCarrito(producto); $event.stopPropagation()">
                  <i class="fas fa-shopping-cart"></i> Agregar al carrito
                </button>
              </div>
            </div>
          </div>  
        </div>  
      </div>   
    
      <ng-template #noProducts>  
        <p>No hay productos disponibles para esta categoría.</p>  
      </ng-template>  
    </div>
    
 
  </div>  

  <app-footer></app-footer>  
</ion-content>