<ion-content [fullscreen]="true">

  <app-header></app-header>



    <section class="about-us">
      <h1>Quiénes Somos</h1>

      <div class="section">
        <h2>Bienvenidos a SNZ Digital</h2>
        <p>Tu tienda en línea de productos electrónicos confiables y de última tecnología. Nos dedicamos a ofrecerte lo
          mejor en tecnología y electrónica y asegurarnos de que realmente necesitas el producto que deseas, con un
          enfoque en la calidad y el servicio al cliente.</p>
      </div>

      <div class="section">
        <h2>Nuestra Historia</h2>
        <p>Desde nuestros inicios en <strong>2024</strong>, hemos evolucionado de una pequeña tienda a una reconocida
          tienda en línea. Creemos en la importancia de ayudar al cliente en la elección de productos que realmente se
          adapten a sus necesidades.</p>
        <p>Actualmente contamos con una tienda matriz que funciona tanto como punto de venta como centro de despacho
          para nuestros pedidos en línea.</p>
      </div>

      <div class="section">
        <h2>Misión y Visión</h2>
        <p><strong>Misión:</strong> Asistir completamente en la elección de productos para que cualquier persona, sin
          conocimientos previos, pueda armar su propio PC.</p>
        <p><strong>Visión:</strong> Aumentar el número de centros para tener acceso más rápido a todas las comunas y así
          poder asistir a más usuarios en sus compras.</p>
      </div>

      <div class="section">
        <h2>Valores Corporativos</h2>
        <p>Nos guiamos por los valores de integridad, calidad y satisfacción del cliente. Estos principios nos inspiran
          a ofrecer productos confiables y brindar una experiencia de compra personalizada.</p>
        <ul>
          <li>Servicio al cliente</li>
          <li>Calidad</li>
          <li>Honestidad</li>
          <li>Responsabilidad</li>
        </ul>
      </div>

      <div class="section">
        <h2>Mayor Eficiencia</h2>
        <p>Nuestros sitio web cuenta con herramientas enfocadas a ayudarte en la seleccion de productos para facilitar tu cotizacion al maximo</p>
      </div>

      <div class="section">
        <h2>Equipo Humano</h2>
        <p>Contamos con un equipo comprometido de expertos en tecnología y servicio al cliente, dedicados a asesorarte
          en cada paso de tu compra.</p>
      </div>

      <div class="section">
        <h2>Compromiso con el Cliente</h2>
        <p>Nos esforzamos por ofrecer un servicio de atención al cliente excepcional, con asesoría experta, seguimiento
          de pedidos y soporte post-venta.</p>
      </div>

      <div class="section">
        <h2>Responsabilidad Social y Ambiental</h2>
        <p>En SNZ Digital nos importa el planeta. Trabajamos con proveedores responsables y fomentamos prácticas de
          reciclaje para reducir el impacto ambiental.</p>
      </div>
    </section>




  <app-footer></app-footer>
</ion-content>