<ion-content [fullscreen]="true">
  <app-header></app-header>
  
  <div class="container-card">
    <div class="header-title">
      <ion-title class="main-title">¡Gestión de Direcciones!</ion-title>
      <p class="sub-title">Aquí puedes gestionar tus direcciones de envío</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-start">
          <ion-button 
            expand="full" 
            fill="solid" 
            routerLink="/index" 
            class="custom-button">
            <ion-icon name="arrow-back" slot="start"></ion-icon>
            Volver a la página principal
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="direccion-section">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="full" class="custom-button">
              Agregar Nueva Dirección
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" *ngFor="let direccion of direcciones">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ direccion?.direccion || 'Dirección no disponible' }}</ion-card-title>
                <p>ID: {{ direccion?.dirId || 'No disponible' }}</p>
              </ion-card-header>
              <ion-card-content>
                <p>Comuna: {{ direccion?.comuna || 'No disponible' }}</p>
                <p>Detalle: {{ direccion?.detalle || 'No disponible' }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
