<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-carrusel></app-carrusel>  

  <ion-header>  
    <ion-toolbar>  
      <ion-buttons slot="start">  
        <ion-back-button defaultHref="/perfil"></ion-back-button>  
      </ion-buttons>  
      <ion-title>¡Gestión de Direcciones!</ion-title>  
    </ion-toolbar>  
  </ion-header> 
  
  <div class="container-card">
    <div class="direccion-section">
      <div class="btn-container">
        <button class="btn btn-primary" (click)="navigateToCrearDireccion()">
          Agregar Nueva Dirección
        </button>
      </div>

      <!-- Tabla de direcciones -->
      <div class="table-card">
        <ion-card-content>
          <table class="direccion-table">
            <thead>
              <tr>
                <th>Dirección</th>
                <th>Comuna</th>
                <th>Detalle</th>
                <th>Principal</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let direccion of direcciones" [class.principal]="direccion?.dirPrincipal">
                <td>{{ direccion?.direccion || 'No disponible' }}</td>
                <td>{{ direccion?.comuna || 'No disponible' }}</td>
                <td>{{ direccion?.detalle || 'No disponible' }}</td>
                <td>{{ direccion?.dirPrincipal ? 'Sí' : 'No' }}</td>
                <td><button class="btn btn-primary" (click)="editarDireccion(direccion.dirId)">EDITAR</button></td>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </div>

      <!-- Mensaje si no hay direcciones -->
      <ion-item *ngIf="direcciones.length === 0">
        <ion-label class="noAhi">No se encontraron direcciones guardadas.</ion-label>
      </ion-item>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
