<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="carrito-container" *ngIf="detalles.length > 0">
    <div>
      <ion-title>Carrito de Compras</ion-title>
    </div>

    <ion-grid>
      <ion-list>
        <ion-item *ngFor="let detalle of detalles" class="product-card">
          <ion-thumbnail slot="start">
            <img [src]="'data:image/png;base64,' + detalle.imagen" alt="Imagen del Producto" class="image-preview">
          </ion-thumbnail>
          <ion-label>
            <h2 class="product-title">{{ detalle.productName }}</h2>
            <p class="product-subtitle">Cantidad: {{ detalle.cantidad }}</p>
            <p>Costo Unitario: {{ detalle.costoUnitario | currency }}</p>
            <p>Costo Total: {{ detalle.costoTotal | currency }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-grid>

    <ion-row>
      <ion-col size="4">
        <ion-card class="total-card">
          <ion-card-header>
            <ion-card-title>Total del Carrito</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="total-text">Subtotal: {{ calcularTotal() | currency:'CLP' }}</p>
            <p class="total-text">Total: {{ calcularTotal() | currency:'CLP' }}</p>
            <ion-button expand="full" color="primary" (click)="realizarPago()">Pagar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>

  <div *ngIf="detalles.length === 0">
    <p>{{ errorMessage }}</p>
  </div>

  <app-footer></app-footer>
</ion-content>
