<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="carrito-container" *ngIf="carrito && detalles.length > 0">
    <div>
      <ion-title>Carrito de Compras</ion-title>
      <p>Total: ${{ carrito.costoTotalCarrito.toFixed(2) || '0.00' }}</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let detalle of detalles">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ detalle.productId || 'Producto sin id' }}</ion-card-title> <!-- Nombre del producto -->
              <ion-card-title>{{ detalle.productName || 'Producto sin nombre' }}</ion-card-title> <!-- Nombre del producto -->
            </ion-card-header>
            <ion-card-content>
              <p>Cantidad: {{ detalle.cantidad }}</p>
              <p>Costo Unitario: ${{ detalle.costoUnitario.toFixed(2) || '0.00' }}</p>
              <p>Costo Total: ${{ detalle.costoTotal.toFixed(2) || '0.00' }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!carrito || detalles.length === 0">
    <p>{{ errorMessage }}</p>
  </div>

  <app-footer></app-footer>
</ion-content>
