<ion-content [fullscreen]="true">
    <app-header></app-header>
  
    <section class="faq">
      <h1>Preguntas Frecuentes</h1>
      
      <div *ngFor="let pregunta of preguntas" class="faq-item" (click)="pregunta.expand = !pregunta.expand">
        <h2>
          <ion-icon name="help-circle-outline" [ngClass]="{'icon-rotate': pregunta.expand}"></ion-icon> {{pregunta.titulo}}
        </h2>
        <p *ngIf="pregunta.expand" class="faq-answer" [ngClass]="{'expandido': pregunta.expand}">{{pregunta.respuesta}}</p>
    </div>
    </section>
  
    <app-footer></app-footer>
  </ion-content>
  