<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-carrusel></app-carrusel>

  <!-- Indicador de carga -->
  <div *ngIf="loading" class="loading-container">
    <p>Cargando... {{ loadingProgress }}%</p>
    <div class="loading-bar">
      <div class="loading-bar-progress" [style.width.%]="loadingProgress"></div>
    </div>
  </div>

  <div *ngIf="!loading">
  <div class="trust-section">
    <h2>¿Por Qué Comprar con Nosotros?</h2>
    <div class="trust-items">
      <div class="trust-item">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <h4>Compra Segura</h4>
        <p>Todas nuestras transacciones están encriptadas para proteger tu información personal y financiera.</p>
      </div>
      <div class="trust-item">
        <ion-icon name="cash-outline"></ion-icon>
        <h4>Garantía de Satisfacción</h4>
        <p>Ofrecemos una política de devolución de 30 días para asegurarnos de que quedes completamente satisfecho.</p>
      </div>
      <div class="trust-item">
        <ion-icon name="call-outline"></ion-icon>
        <h4>Soporte 24/7</h4>
        <p>Nuestro equipo de atención al cliente está disponible las 24 horas del día para ayudarte en lo que necesites.</p>
      </div>
    </div>
  </div>

  <div class="container-card">
    <div class="product-section">
      <h2 class="category-title" style="margin-top: 20px;">Destacados</h2>
      <div class="productos-container" >
        <!-- Verificamos si hay productos en la categoría 5 -->
        <div *ngIf="(productosPorCategoria[1] ?? []).length > 0">
          <div class="product-scroll">
            <ion-card class="product-card" *ngFor="let producto of productosPorCategoria[1]" (click)="irADetalleProducto(producto.productId)">
              <div>
                <img [src]="producto.imagen ? 'data:image/png;base64,' + producto.imagen : 'assets/img/default.jpg'" 
                     alt="Imagen del Producto" 
                     class="image-preview">  
              </div>
              <ion-card-header>
                <ion-card-title>{{ producto.productName }}</ion-card-title>
                <p class="product-price">Precio: ${{ producto.precio?.toFixed(2) }}</p>
              </ion-card-header>
              <ion-card-content>
                <div class="botones-container">
                <button class="custom-button12" expand="full" (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
                <button class="custom-button" expand="full" (click)="comprarAhora(producto)">Comprar ahora</button>
              </div>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="promo-banner">
    <h3>Novedades Destacadas</h3>
    <p>Explora nuestra colección más reciente y encuentra productos únicos para ti</p>
</div>

  
  <div class="category-section">
    <div class="category-grid">
      <div class="category-card" *ngFor="let categoria of categorias">
        <div class="image-wrapper">
          <img [src]="categoria.imagen ? 'data:image/png;base64,' + categoria.imagen : 'assets/img/default.jpg'" alt="Imagen de la Categoría" />
          <div class="overlay">
            <p class="category-name">{{ categoria.catName }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>

  <app-footer></app-footer>
</ion-content>
