.category-title {
  background-color: #dadada;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.container-card {
  padding-bottom: 50px;
  width: 100%;
  padding-right: 300px;
  padding-left: 300px;
  margin-right: auto;
  margin-left: auto;
}

/* Estilo de barra de desplazamiento para .productos-container */
.productos-container {
  display: flex;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  padding: 10px 0;
  scrollbar-color: #8a2be2 #e0d3ff; /* Color de la barra y del fondo */
  scrollbar-width: thin; /* Ancho de la barra en Firefox */
}

/* Scrollbar personalizado para navegadores basados en Webkit (Chrome, Safari) */
.productos-container::-webkit-scrollbar {
  height: 12px; /* Altura de la barra de desplazamiento horizontal */
}

.productos-container::-webkit-scrollbar-track {
  background: #e0d3ff; /* Color de fondo del track */
}

.productos-container::-webkit-scrollbar-thumb {
  background-color: #8a2be2; /* Color de la barra de desplazamiento (morado) */
  border-radius: 10px; /* Redondeo de las esquinas de la barra */
}

/* Al pasar el mouse sobre el scrollbar */
.productos-container::-webkit-scrollbar-thumb:hover {
  background-color: #7a1ec1; /* Color más oscuro en hover */
}


.product-scroll {
  display: flex;
  gap: 16px; /* Espacio entre tarjetas */
}

.product-card {
  min-width: 200px; /* Ancho mínimo de cada tarjeta */
  max-width: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  flex-shrink: 0; /* Evita que las tarjetas se reduzcan */
}

.image-preview {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

.product-price {
  font-weight: bold;
  color: #000000;
}

.custom-button {
  background-color: #3498db;
  color: white;
}

.custom-button12 {
  background-color: #e74c3c;
  color: white;
}
