<ion-header>
  <ion-toolbar>
    <ion-title>Editar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()" class="form"> <!-- Asegúrate de que se llame a onSubmit -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Cliente</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input formControlName="firstName"></ion-input> <!-- No necesitas {{ user.firstName }} aquí -->
              </ion-item>

              <ion-item>
                <ion-label position="floating">Segundo Nombre</ion-label>
                <ion-input formControlName="secondName"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Primer Apellido</ion-label>
                <ion-input formControlName="firstLastName"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Segundo Apellido</ion-label>
                <ion-input formControlName="secondLastName"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Número de Teléfono</ion-label>
                <ion-input formControlName="phone" type="tel"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" type="submit">Actualizar Cliente</ion-button>
  </form>
</ion-content>
