<ion-content [fullscreen]="true">  
  <app-header></app-header>  
  <app-carrusel></app-carrusel>  

  <ion-header>
    <ion-toolbar>
      <ion-title>Ver Perfil Empleado</ion-title>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="/menu-trabajador"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="layout">  
    <div class="category-menu-container">  
      <div class="category-menu">  
        <button   
          class="menu-item"   
          *ngFor="let categoria of categorias"   
          (click)="seleccionarCategoria(categoria)"  
          [ngClass]="{'selected': selectedCategory === categoria}"   >  
          {{ categoria.catName }} <!-- Muestra el nombre de la categoría -->  
        </button>  
      </div>  
    </div>  

    <!-- Contenido principal -->  
    <div class="main-content">  
      <h2>Productos de la Categoría Seleccionada</h2>  

      <button class="custom-button12" *ngIf="selectedCategory" (click)="irACrearProducto()">Añadir Producto</button>

      <div *ngIf="productosSeleccionados.length > 0; else noProducts">  
        <div class="productos-container"> <!-- Cambia ion-list a un contenedor div -->  
          <div class="producto-card" *ngFor="let producto of productosSeleccionados" >  
            <div>
              <img [src]="producto.imagen ? 'data:image/png;base64,' + producto.imagen : 'assets/img/default.jpg'" 
                   alt="Imagen del Producto" 
                   class="image-preview">  
            </div>
            <div class="producto-info">  
              <h3>{{ producto.productName }}</h3>  
             <!-- <p>{{ producto.descripcion }}</p>  --> 
              <p>Precio: {{ producto.precio | currency }}</p>  

              <!-- Botones de acción -->  
              <div class="botones-container">
                <button 
                  class="custom-button12" 
                  *ngIf="producto.productId && selectedCategory?.catId" 
                  (click)="irADetalleProducto(producto)">
                  <i class="fa-solid fa-pen"></i> Editar
                </button>
                <button 
                  *ngIf="producto.productId !== undefined" 
                  class="custom-button" 
                  (click)="eliminarProducto(producto.productId!)">
                  <i class="fa-solid fa-trash"></i> Eliminar
                </button>
                <button *ngIf="producto.productId !== undefined" class="custom-button" (click)="etiquetas(producto.productId)">  
                  <i class="fa-solid fa-tag"></i> Etiquetas
                </button>
              </div>
            </div> 
          </div>  
        </div>  
      </div>   

      <ng-template #noProducts>  
        <p>No hay productos disponibles para esta categoría.</p>  
      </ng-template>  
    </div>
 
  </div>  

  <app-footer></app-footer>  
</ion-content>