<ion-app>
  <!-- Panel dividido con el menú en modo 'overlay' y contenido principal -->
  <ion-split-pane contentId="main-content">
    <!-- Menú lateral con estilo personalizado -->
    <ion-menu contentId="main-content" type="overlay" style="--side-max-width: 14%;">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- Ítems del menú -->
        <ion-item routerLink="/inicio">
          <ion-icon slot="start" name="home"></ion-icon> 
          Inicio
        </ion-item>

        <ion-item routerLink="/registro-usuario">
          <ion-icon slot="start" name="pencil"></ion-icon>
          Crear cuenta
        </ion-item>

        <ion-item routerLink="/login">
          <ion-icon slot="start" name="log-in"></ion-icon>
          Login
        </ion-item>

        <ion-item routerLink="/perfil">
          <ion-icon slot="start" name="people"></ion-icon>
          Perfil
        </ion-item>

        <ion-item routerLink="/direccion">
          <ion-icon slot="start" name="location"></ion-icon>
          Dirección
        </ion-item>

        <ion-item routerLink="/editar-usuario">
          <ion-icon slot="start" name="create"></ion-icon>
          Editar Usuario
        </ion-item>

        <ion-item routerLink="/editar-clave">
          <ion-icon slot="start" name="key"></ion-icon>
          Editar Contraseña
        </ion-item>

        <ion-item routerLink="/catalogo">
          <ion-icon slot="start" name="albums"></ion-icon>
          Catálogo
        </ion-item>

        <ion-item routerLink="/categoria">
          <ion-icon slot="start" name="list"></ion-icon>
          Categoría
        </ion-item>

        <ion-item routerLink="/producto">
          <ion-icon slot="start" name="cube"></ion-icon>
          Producto
        </ion-item>

        <!-- Opción visible solo para administradores -->
        <ion-item *ngIf="isLoggedIn && (userRole === 'ROLE_ADMINISTRADOR')" 
                  routerLink="/historial-cotizaciones-ejecutivo" 
                  routerLinkActive="active-item">
          <ion-icon slot="start" name="document-text"></ion-icon>
          Ver Productos
        </ion-item>

        <!-- Espaciador para empujar el botón de cerrar sesión hacia abajo -->
        <ion-item class="spacer"></ion-item>

        <!-- Opción de cerrar sesión visible solo cuando el usuario está logueado -->
        <ion-item *ngIf="isLoggedIn" (click)="logout()" class="logout-item">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Cerrar Sesión
        </ion-item>
        
      </ion-content>
    </ion-menu>

    <!-- Contenido principal -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
