ion-menu {
  --background: #f5f5f5; /* Blanco suave para el fondo */
  --color: #333333; /* Texto en un tono oscuro para mejor visibilidad */
  --ion-background-color: #f5f5f5; /* Fondo general del menú */
  --ion-text-color: #333333; /* Color del texto dentro del menú */

  ion-toolbar {
    --background: #4b0082; /* Morado oscuro para el header */
    --color: white; /* Color del texto del título */
  }

  ion-item {
    --background-hover: #ff6347; /* Rojo tomate en hover */
    --color: #333333; /* Color del texto oscuro para visibilidad */
    
    /* Ajustes adicionales para visibilidad */
    ion-icon {
      color: #4b0082; /* Íconos en morado oscuro */
    }
    
    &:hover {
      background-color: #ff6347; /* Fondo rojo al pasar el cursor */
      color: white; /* Texto en blanco al hacer hover */
    }
  }

  .logout-item {
    margin-top: auto; /* Asegura que el botón de Cerrar Sesión esté al final del menú */
  }

  .spacer {
    flex-grow: 1; /* Empuja los ítems hacia arriba dejando el logout al fondo */
  }
}
