<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" style="--side-max-width: 14%;">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
            <!-- Ítems del menú -->
        <ion-item routerLink="/inicio">
          <ion-icon slot="start" name="home"></ion-icon>
          Inicio
        </ion-item>
        
        <ion-item routerLink="/registro-usuario">
          <ion-icon slot="start" name="pencil"></ion-icon>
          Crear cuenta
        </ion-item>

        <ion-item routerLink="/login">
          <ion-icon slot="start" name="log-in"></ion-icon>
          Login
        </ion-item>
        <ion-item routerLink="/perfil">
          <ion-icon slot="start" name="people"></ion-icon>
          perfil
        </ion-item>
        <ion-item routerLink="/editar-usuario">
          <ion-icon slot="start" name="people"></ion-icon>
          Editar Usuario
        </ion-item>
        <ion-item routerLink="/editar-clave">
          <ion-icon slot="start" name="people"></ion-icon>
          Editar contraseña
        </ion-item>
        <ion-item routerLink="/catalogo">
          <ion-icon slot="start" name="people"></ion-icon>
          Catalogo
        </ion-item>
        <ion-item routerLink="/categoria">
          <ion-icon slot="start" name="people"></ion-icon>
          Categoria
        </ion-item>
        <ion-item routerLink="/producto">
          <ion-icon slot="start" name="people"></ion-icon>
          Producto
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
