<ion-app>
  <!-- Configurar el Split Pane para que no se muestre automáticamente en pantallas grandes -->
  <ion-split-pane contentId="main-content" when="false">
    <!-- Menú lateral -->
    <ion-menu side="start" contentId="main-content" >
      <ion-header>
        <ion-toolbar routerLink="/index" class="menu">
          <ion-title>S.N.Z Digital</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- Lista de opciones del menú -->
        <ion-list>
          <ion-item *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active-item">
            <ion-icon slot="start" name="log-in"></ion-icon>
            Login
          </ion-item>

          <ion-item routerLink="/index" routerLinkActive="active-item">
            <ion-icon slot="start" name="home"></ion-icon>
            Inicio
          </ion-item>

          <ion-item routerLink="/productos" routerLinkActive="active-item">
            <ion-icon slot="start" name="pricetags"></ion-icon>
            Productos
          </ion-item>

          <ion-item routerLink="/sobre" routerLinkActive="active-item">
            <ion-icon slot="start" name="information-circle"></ion-icon>
            Sobre S.N.Z Digital
          </ion-item>

          <ion-item routerLink="/catalogo" routerLinkActive="active-item">
            <ion-icon slot="start" name="albums"></ion-icon>
            Catálogo
          </ion-item>

          <ion-item routerLink="/terminos" routerLinkActive="active-item">
            <ion-icon slot="start" name="document-text"></ion-icon>
            Términos y Condiciones
          </ion-item>

          <ion-item routerLink="/contactanos" routerLinkActive="active-item">
            <ion-icon slot="start" name="mail"></ion-icon>
            Contáctanos
          </ion-item>

          <!-- Sección de Cuenta para administrador -->
          <div *ngIf="isLoggedIn && (userRole === 'ROLE_ADMINISTRADOR' || userRole === 'ROLE_EJECUTIVO')">
            <ion-list-header>
              Cuenta
            </ion-list-header>

            <ion-item routerLink="/perfil" routerLinkActive="active-item">
              <ion-icon slot="start" name="person-circle"></ion-icon>
              Perfil
            </ion-item>

            <ion-item (click)="logout()"  routerLinkActive="active-item">
              <ion-icon slot="start" name="log-out"></ion-icon>
              Cerrar Sesión
            </ion-item>
          </div>

        </ion-list>

        <!-- Información de contacto al final -->
        <div class="contact-info">
          <p><ion-icon name="mail-outline"></ion-icon> contacto&#64;snzdigital.cl</p>
          <p><ion-icon name="call-outline"></ion-icon> +56 2 552553433</p>
          <p><ion-icon name="call-outline"></ion-icon> +56 9 51512595</p>
          <p><ion-icon name="location-outline"></ion-icon> Diego de Meza 5026, San Joaquin, Santiago, Chile</p>
          <p>Oficina SOLO RETIRO: (No sala de venta)</p>
          <p><ion-icon name="time-outline"></ion-icon> Lunes a Viernes 10:00 a 18:00 y Sábados 11:00 a 15:00</p>
        </div>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
