/* Botón de login */
ion-button {
    --background: #3498db; /* Azul */
    --background-activated: #2980b9; /* Azul más oscuro */
    --background-focused: #2980b9;
    --background-hover: #2980b9;
    --color: #ffffff; /* Blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 8px; /* Bordes redondeados */
}

.login-content {
    --background: #f0f8ff; /* Azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la vista */
    padding: 0;
    margin: auto;
}
.contenido {
    background: #ffffff; /* Blanco */
    padding: 20px;
    border: 1px solid #2c3e50;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    width: auto;
    max-width: 400px;
    text-align: center;    
    margin: 4rem auto;
    
    
}

/* Título del login */
.titulo {
    color: #2c3e50; /* Azul oscuro */
    margin-bottom: 20px;
}

/* Elementos del formulario */
.input-item {
    margin-bottom: 15px;
    --ion-item-background:#ffffff;
    border: 1px solid #2c3e50;
    border-radius: 8px;
}

.input-label {
    color: #2c3e50; /* Azul oscuro */
}

.input-field {
    color: #2c3e50; /* Azul oscuro */
}

/* Contenedor de botones */
.button-container {
    margin-top: 20px;
}

/* Enlace de olvido de contraseña */
.link {
    color: #2980b9; /* Azul más oscuro */
    text-decoration: none;
    display: block;
    margin-top: 15px;
}