.category-title {
    background-color: #dadada; /* Color de fondo */
    text-align: center; /* Centrar el texto */
    padding: 20px; /* Espaciado alrededor del texto */
    margin: 0; /* Eliminar margen por defecto */
  }
  

  .container-card {
    width: 100%;
    padding-right: 300px;
    padding-left: 300px;
    margin-right: auto;
    margin-left: auto;
  }

  .product-section {
    h2 {
      margin: 16px 0; // Espacio alrededor del título de la categoría
      font-size: 1.5rem; // Tamaño del texto del título
      color: #333; // Color del texto
    }
  
    .product-card {
      margin-bottom: 16px; // Espacio entre tarjetas de productos
      max-width: 200px; // Ancho máximo de la tarjeta
      margin: auto; // Centra las tarjetas en la columna
  
      .image-preview {
        width: 100%; // Ajusta el ancho al 100% del contenedor
        height: 250px; // Ajusta la altura a 250px (o el tamaño que desees)
        object-fit: cover; // Mantiene la proporción de la imagen
      }
    }
  
    .product-price {
      font-weight: bold; // Hace que el precio sea más destacado
      color: #000000; // Color verde para el precio
    }
  
    .custom-button {
      background-color: #3498db; // Color del botón "Comprar ahora"
      color: white; // Color del texto en el botón
    }
  
    .custom-button12 {
      background-color: #e74c3c; // Color del botón "Agregar al carrito"
      color: white; // Color del texto en el botón
    }
  }