<!-- src/app/pages/info-producto/info-producto.page.html -->
<ion-content [fullscreen]="true">  
  <app-header></app-header>  
  <app-carrusel></app-carrusel>  

  <!-- Información del Producto -->
  <div class="info-producto">
    <h2>Detalles del Producto</h2>
  
    <div *ngIf="producto; else loading">
      <div class="producto-detalle">
        <div class="producto-imagen">
          <img [src]="'data:image/png;base64,' + producto.imagen" alt="Imagen del Producto" class="image-preview">
        </div>
        <div class="producto-info">
          <h3>{{ producto.productName }}</h3>
          <p>{{ producto.descripcion }}</p>
          
          <label for="cantidad">Cantidad:</label>
          <select id="cantidad" [(ngModel)]="cantidadSeleccionada" (change)="actualizarPrecio()">
            <option *ngFor="let cantidad of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="cantidad">{{ cantidad }}</option>
          </select>

          <p *ngIf="cantidadSeleccionada">Precio total: {{ producto.precio * cantidadSeleccionada | currency }}</p>

          <button class="custom-button12" (click)="agregarAlCarrito(producto)">
            <i class="fas fa-shopping-cart"></i> Agregar al carrito
          </button>
          <button class="custom-button" (click)="comprarAhora(producto)">
            <i class="fas fa-money-bill-wave"></i> Comprar ahora
          </button>
        </div>
      </div>
    </div>
    
    <ng-template #loading>
      <p>Cargando detalles del producto...</p>
    </ng-template>
  </div>

  <!-- Valoraciones -->
  <h2 class="titulo-valoraciones">Valoraciones</h2>
  <div class="valoraciones">  
    <h4>Reseñas de Usuarios</h4>  
    <div class="reseñas-container">  
      <div *ngFor="let valoracion of valoraciones" class="reseña">  
        <strong class="usuario">Usuario ID {{ valoracion.usuariosUserId }}:</strong>  
        <div class="detalles">  
          <span class="resena">{{ valoracion.valComentario }}</span>  
          <span class="estrellas">
            {{ '★'.repeat(valoracion.valPuntuacion) + '☆'.repeat(5 - valoracion.valPuntuacion) }}
          </span>  
        </div>  
      </div>  
    </div>  
  </div>

  <app-footer></app-footer>  
</ion-content>
