<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-carrusel></app-carrusel>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo"></ion-back-button>
      </ion-buttons>
      <ion-title>Volver al Catálogo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="info-producto">
    <h2>Detalles del Producto</h2>

    <div *ngIf="producto; else loading">
      <div class="producto-detalle">
        <div>
          <img style="padding-right: 20px;"
            [src]="producto.imagen ? 'data:image/png;base64,' + producto.imagen : 'assets/img/default.jpg'"
            alt="Imagen del Producto" class="image-preview">
        </div>

        <div class="producto-info">
          <h3>{{ producto.productName }}</h3>
          <p>{{ producto.descripcion }}</p>
          <div *ngIf="producto.status !== 0">
          <!-- Select para la cantidad -->
          <label for="cantidad">Cantidad:</label>
          <select id="cantidad" [(ngModel)]="cantidadSeleccionada" (change)="actualizarPrecio()">
            <option *ngFor="let cantidad of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="cantidad">{{ cantidad }}</option>
          </select>

          <p *ngIf="cantidadSeleccionada">Precio total: {{ producto.precio * cantidadSeleccionada |
            currency:'CLP':'symbol':'1.0-0' }}</p>

          <!-- Botón de acción: Comprar, solo visible si status no es 0 -->
          <button class="custom-button12" (click)="agregarAlCarrito()">
            <i class="fas fa-shopping-cart"></i> Agregar al carrito
          </button>
        </div>
        <div *ngIf="producto.status == 0">
          <h3>Producto no disponible en estos momentos
          </h3>
        </div>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <p>Cargando detalles del producto...</p>
    </ng-template>
  </div>
  <!-- Sección de Etiquetas -->
  <h2 class="titulo-valoraciones">Etiquetas</h2>
  <div *ngIf="idProducto !== undefined" class="valoraciones">
    <div class="reseñas-container">
      <div *ngFor="let etiquetas of etiquetas" class="reseña">
        <div (click)="irADetalleEtiqueta(etiquetas.etiquetaId)">
          <strong>{{ etiquetas.nombreEtiqueta }}</strong>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección de Valoraciones -->
  <h2 class="titulo-valoraciones">Valoraciones</h2>
  <div *ngIf="idProducto !== undefined && tieneValoraciones(); else sinValoraciones" class="valoraciones">
    <h4>Reseñas de Usuarios</h4>
    <div class="reseñas-container">
      <div *ngFor="let resena of valoracionesPorProducto[idProducto]" class="reseña">
        <div class="reseña-header">
          <div class="usuario-avatar">
            <div 
              class="avatar-placeholder" 
              [style.background-color]="getColorForUser(resena.nombreUsuario)"
            >
              {{ resena.nombreUsuario.charAt(0).toUpperCase() }}
            </div>
          </div>
          
          
          <div class="usuario-detalles">
            <strong class="usuario-nombre">{{ resena.nombreUsuario }}</strong>
            <div class="estrellas">
              <ion-icon name="star" *ngFor="let star of [].constructor(resena.resena.valPuntuacion)"></ion-icon>
              <ion-icon name="star-outline" *ngFor="let star of [].constructor(5 - resena.resena.valPuntuacion)"></ion-icon>
            </div>
          </div>
          <!-- Botón visible solo si el usuario autenticado creó la valoración -->
          <button *ngIf="resena.resena.usuariosUserId === this.userId" (click)="onDelete(resena.resena.valid)">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </div>
        <div class="reseña-detalle">
          <p class="resena-texto">{{ resena.resena.valComentario }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #sinValoraciones>
    <p class="mensaje-sin-valoraciones">
      <ion-icon name="alert-circle-outline"></ion-icon>
      No hay valoraciones para este producto.
    </p>
  </ng-template>
  
  
  


  <!-- Formulario de valoración visible solo si el usuario no ha comentado -->
  <div class="formulario-valoracion">
    <!-- Mostrar el formulario si el usuario está logueado -->
    <div *ngIf="isLoggedIn; else sinAcceso">
      <!-- Mostrar formulario si no ha comentado -->
      <div *ngIf="!yaComento; else yaComentoMensaje">
        <h4 class="titulo-formulario">Deja tu valoración</h4>
        <form (ngSubmit)="enviarValoracion()" class="valoracion-form">
          <!-- Calificación -->
          <div class="input-group">
            <label for="valoracion" class="input-label">Calificación:</label>
            <ion-select 
              id="valoracion" 
              placeholder="Selecciona una calificación" 
              [(ngModel)]="valoracion" 
              name="valoracion" 
              class="select-estrellas"
              required
            >
              <ion-select-option *ngFor="let star of [5, 4, 3, 2, 1]" [value]="star">
                {{ star }} {{ star === 1 ? 'estrella' : 'estrellas' }}
              </ion-select-option>
            </ion-select>
          </div>
          <!-- Comentario -->
          <div class="input-group">
            <label for="comentario" class="input-label">Comentario:</label>
            <ion-textarea 
              id="comentario" 
              [(ngModel)]="comentario" 
              name="comentario" 
              placeholder="Escribe tu comentario aquí..." 
              class="input-textarea"
            ></ion-textarea>
          </div>
          <!-- Botón de Enviar -->
          <ion-button expand="block" type="submit" class="boton-enviar">Enviar Valoración</ion-button>
        </form>
      </div>
    </div>
    <!-- Mensajes de Estado -->
    <ng-template #yaComentoMensaje>
      <p class="mensaje-informativo">Ya has ingresado una valoración para este producto.</p>
    </ng-template>
    <ng-template #sinAcceso>
      <p class="mensaje-informativo">Debes estar registrado para dejar una valoración.</p>
    </ng-template>
  </div>
  


  <app-footer></app-footer>
</ion-content>