<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-carrusel></app-carrusel>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo"></ion-back-button>
      </ion-buttons>
      <ion-title>Volver al Catálogo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="etiquetas-container" *ngIf="etiquetaDetalle">
    <h2>Detalles de la Etiqueta</h2>
    <div class="etiqueta-item">
      <strong>Nombre:</strong>
      <p>{{ etiquetaDetalle.nombreEtiqueta || 'Vacio' }}</p>
    </div>
    <div class="etiqueta-item">
      <strong>Detalle:</strong>
      <ul class="detalle-lista">
        <li *ngFor="let frase of detalleEtiquetas">{{ frase }}</li>
      </ul>
    </div>
  </div>
  
  
  

    <div *ngIf="filteredProductos.length > 0; else noProducts">
      <div class="productos-container">
        <div class="producto-card" *ngFor="let producto of productos">
          <div *ngIf="producto?.imagen">
            <img [src]="'data:image/png;base64,' + producto.imagen" alt="Imagen del Producto" class="image-preview">
          </div>
          <div class="producto-info">
            <h3>{{ producto?.productName || 'Nombre no disponible' }}</h3>
            <p>Precio: {{ producto.precio | currency:'$':'symbol':'1.0-0' }}</p>
            <button class="custom-button12" (click)="agregarAlCarrito(producto)">
              <i class="fas fa-shopping-cart"></i> Agregar al carrito
            </button>
            <button class="custom-button" (click)="comprarAhora(producto)">
              <i class="fas fa-money-bill-wave"></i> Comprar ahora
            </button>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noProducts>
      <p>No hay productos disponibles en este momento.</p>
    </ng-template>

  <app-footer></app-footer>
</ion-content>
