.profile-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-card {
  flex: 1;
  max-width: 500px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.card-title {
  color: #4b0082;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e8eaed;
  text-align: center;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.user-info-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  color: #3c4043;
}

.user-info-item strong {
  color: #202124;
  width: 150px;
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

.user-info-item p {
  margin: 0;
}


.profile-menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 200px;

  .menu-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #4b0082;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .menu-item {
    position: relative;
    background: #ffffff;
    padding: 0.75rem 2rem;
    text-align: left;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #000000;
       left: 50%;
      bottom: -4px;
      transition: width 0.3s ease, left 0.3s ease;
    }

    &:hover {
      color: #000000;

      &::after {
        width: 100%;
        left: 0;
      }
    }

    &:active {
      transform: scale(0.98);
    }
  }
}



.loading-text {
  text-align: center;
  color: #333;
  padding: 2rem;
  font-style: italic;
}
