/* Fondo del contenido */
ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  --background: linear-gradient(rgb(255 255 255 / 6%), rgb(255 255 255 / 27%)), url(/assets/img/fondo-pantalla.jpg) no-repeat center center fixed;
  --background-size: cover;
}

/* Contenedor principal del header */
.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff; /* Fondo blanco */
  border-bottom: 2px solid black; /* Borde negro */
  border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
  padding: 16px; /* Espaciado interno */
}

/* Título estilizado */
.custom-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #222; /* Negro intenso */
  margin: 0; /* Elimina margen predeterminado */
}

/* Botón de cierre estilizado */
.custom-close-button {
  background: transparent; /* Sin fondo */
  border: 2px solid black; /* Borde negro */
  border-radius: 8px; /* Bordes redondeados */
  padding: 8px 16px; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: black; /* Texto negro */
  cursor: pointer; /* Cursor de mano */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.custom-close-button:hover {
  background: #eaeaea; /* Fondo gris claro al pasar el cursor */
  color: #444; /* Texto gris oscuro al pasar el cursor */
}

/* Tarjetas */
ion-card {
  background: white;  
  border-radius: 1rem;  
  box-shadow: 0 10px 10px rgba(0, 0, 0, 2); /* Sombra estática suave */
}

ion-card-content {
  padding: 16px;
}

/* Inputs estilizados */
.styled-input {
  --background: #ffffff;
  --padding-start: 12px;
  --padding-end: 12px;
  --border-radius: 8px;
  font-size: 1rem;
  margin-top: 8px;
  transition: box-shadow 0.3s ease;
}

/* Botones generales */
.btn {  
  border: 2px solid black; /* Borde negro con un grosor de 2px */
  border-radius: 12px; /* Bordes redondeados */
  margin-top: 20px;
  width: 100%;  
  padding: 0.75rem;  
  font-size: 1rem;  
  font-weight: 600;  
  cursor: pointer;  
  transition: all 0.3s ease;  
}  

.btn-primary {  
  background: linear-gradient(135deg, #6a5acd, #8a2be2); /* Degradado morado */  
  color: white;  
  border: 2px solid black; /* Borde negro */
  &:hover {  
    opacity: 0.9; /* Ligera opacidad al pasar el cursor */  
  }  
}
