<div class="custom-header">
  <h1 class="custom-title">{{ isEditing ? 'Editar Etiqueta' : 'Detalles de Etiqueta' }}</h1>
  <button class="custom-close-button" (click)="close()">Cerrar</button>
</div>

<ion-content>
  <div *ngIf="etiqueta" class="content-container">
    <ion-card>
      <ion-card-content>
        <ion-list lines="full">
          <ion-item>
            <ion-label position="stacked">Nombre de Etiqueta</ion-label>
            <ion-input
              [(ngModel)]="etiqueta.nombreEtiqueta"
              [readonly]="!isEditing"
              placeholder="Ingrese nombre de la etiqueta"
              class="styled-input"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label  style="margin-bottom: 10px;"  position="stacked">Descripción</ion-label>
            <ion-textarea
              [(ngModel)]="etiqueta.detalleEtiqueta"
              [readonly]="!isEditing"
              placeholder="Ingrese descripción"
              auto-grow="false"
              class="styled-textarea"
            ></ion-textarea>
          </ion-item>          
        </ion-list>
      </ion-card-content>
    </ion-card>

    <button type="submit" class="btn btn-primary" (click)="saveChanges()">  
      Guardar Cambios  
    </button>  
  </div>
</ion-content>
