<ion-content [fullscreen]="true">

  <app-header></app-header>

  <app-carrusel></app-carrusel>

  <div class="container-card">
    <div class="header-title">
      <ion-title class="main-title">¡Bienvenido a Nuestra Tienda!</ion-title>
      <p class="sub-title">Explora nuestros productos y ofertas exclusivas</p>
    </div>
  
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-start">
          <ion-button 
          expand="full" 
          fill="solid" 
          routerLink="/categoria" 
          class="custom-button">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        Volver a la categoría
      </ion-button>
      
            </ion-col>
      </ion-row>
    </ion-grid>
  
    <div class="product-section">
      <ion-grid>
        <ion-row>
          <ion-col size="3" *ngFor="let producto of filteredProductos">
            <ion-card>
              <div *ngIf="producto?.imagen">
                <img [src]="'data:image/png;base64,' + producto.imagen" alt="Imagen del Producto" class="image-preview">
              </div>
              <ion-card-header>
                <ion-card-title>{{ producto?.productName || 'Nombre no disponible' }}</ion-card-title>
                <p>${{ producto?.precio?.toFixed(2) || '0.00' }}</p>
                <p>Id: {{ producto?.productId || 'No disponible' }}</p>
              </ion-card-header>
              <ion-card-content>
                <p>{{ producto?.descripcion || 'Descripción no disponible' }}</p>
                <ion-button class="custom-button12" expand="full" (click)="agregarAlCarrito(producto)">Agregar al carrito</ion-button>
                <ion-button class="custom-button" expand="full" (click)="comprarAhora(producto)">Comprar ahora</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

  <app-footer></app-footer>
</ion-content>