$primary-color: #3880ff;
$card-bg-color: #fff;
$text-color: #333;
$loading-color: #666;

.header-custom {
  background-color: $primary-color;
  color: white;
  padding: 10px;

  .logo {
    width: 40px; // Ajusta según sea necesario
  }

  ion-searchbar {
    --background: white;
    --color: $text-color;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
  }
}

.profile-content {
  display: flex;
  justify-content: center;  // Centra horizontalmente
  align-items: center;      // Centra verticalmente
  flex-direction: column;
  height: 100%;             // Asegúrate de que ocupa el 100% de la altura disponible
  padding: 20px;

  .profile-card {
    background-color: $card-bg-color;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; // Máxima anchura para que no sea demasiado grande
    margin: 20px 0;

    ion-card-header {
      background-color: $primary-color;
      color: white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;

      .profile-title {
        font-size: 1.5rem; // Aumentar tamaño de fuente para el título
      }
    }

    ion-card-content {
      p {
        font-size: 1rem;
        color: $text-color;
        margin: 10px 0; // Espaciado uniforme entre los párrafos
      }
    }
  }

  .loading-text {
    color: $loading-color;
    font-size: 1.2rem; // Aumentar tamaño de fuente para el texto de carga
    text-align: center;
  }
}
