<ion-header class="header-custom">
  <ion-toolbar>
    <!-- Menú botón a la izquierda -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Logo a la izquierda -->
    <ion-img class="logo" src="assets/icon/favicon.png" slot="start"></ion-img>

    <!-- Barra de búsqueda en el centro -->
    <ion-searchbar class="searchbar-custom" placeholder="Buscar"></ion-searchbar>

    <!-- Botón de iniciar sesión a la derecha -->
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/login">Iniciar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <div *ngIf="user; else loading">
    <ion-card class="profile-card">
      <ion-card-header>
        <ion-card-title class="profile-title">Perfil del Usuario</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Nombre:</strong> {{ user.firstName }}</p>
        <p><strong>Segundo Nombre:</strong> {{ user.secondName }}</p>
        <p><strong>Apellido Paterno:</strong> {{ user.firstLastName }}</p>
        <p><strong>Apellido Materno:</strong> {{ user.secondLastName }}</p>
        <p><strong>Teléfono:</strong> {{ user.phone }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  
  <ng-template #loading>
    <p class="loading-text">Cargando datos del usuario...</p>
  </ng-template>
</ion-content>
