.layout {  
  display: flex; /* Usar flexbox */  
  flex-direction: row; /* Disposición de fila */  
  padding: 20px; /* Opcional: Añadir un poco de padding */  
}  

.profile-menu-container {  
  flex: 0 0 250px; /* Ancho fijo para el menú */  
  margin-right: 20px; /* Espacio entre el menú y el contenido */  
}  

.user-card {  
  flex: 1; /* Ocupa el espacio restante */  
  margin: 0; /* Elimina margen */  
  border-radius: 10px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}  

.card-title {  
  font-size: 1.5rem;  
  font-weight: bold;  
  color: #4b0082;/* Color del título */  
}  

.card-content {  
  padding: 20px;  
}  

.input-label {  
  font-size: 1rem;  
  color: #666; /* Color de las etiquetas */  
}  

.input-field {  
  border-radius: 5px;  
}  

.pregunta {  
  --ion-color: #4b0082; /* Color de la casilla de verificación */  
}  

.button-container {  
  margin-top: 20px;  
}  

ion-button {  
  background-color: #4b0082; /* Color del botón */  
  color: white;  

  &:disabled {  
    background-color: #ccc; /* Color del botón deshabilitado */  
  }  
}  

.profile-menu {  
  display: flex;  
  flex-direction: column;  
  gap: 0.5rem;  
  min-width: 200px;  

  .menu-item {  
    background: white;  
    border: none;  
    padding: 0.75rem 1rem;  
    text-align: left;  
    border-radius: 4px;  
    cursor: pointer;  
    transition: background-color 0.2s;  
    color: #3c4043;  
    font-size: 0.95rem;  

    &:hover {  
      background-color: #f1f3f4;  
    }  

    &.logout {  
      margin-top: 1rem;  
      color: #d93025;  
    }  
  }  
}


ion-button {
  margin-left: 12px;
  --padding-start: 12px;
  --padding-end: 12px;
  --border-radius: 8px;
  --background: #4b0082;
  --color: #000000;
}

ion-title {
  font-weight: bold;
}
.detalle-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.left-side,
.right-side {
  width: 45%;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #000000; /* Color negro bien marcado */
  font-weight: bold;
  margin-bottom: 5px;
}

.editable-field {
  background-color: #fef8e3;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #000000; /* Color negro bien marcado */
}

.readonly-field {
  color: #000000; /* Color negro bien marcado */
  background-color: #eee;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.ion-valid.sc-ion-input-md-h {
  --highlight-color: #4b0082;
}