.user-card {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3880ff; // Color del título
}

.card-content {
  padding: 20px;
}

.input-label {
  font-size: 1rem;
  color: #666; // Color de las etiquetas
}

.input-field {
  border-radius: 5px;
  background-color: #f9f9f9; // Color de fondo del input
}

.pregunta {
  --ion-color: #3880ff; // Color de la casilla de verificación
}

.button-container {
  margin-top: 20px;
}

ion-button {
  background-color: #3880ff; // Color del botón
  color: white;

  &:disabled {
    background-color: #ccc; // Color del botón deshabilitado
  }
}
