<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-carrusel></app-carrusel>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/perfil"></ion-back-button>
      </ion-buttons>
      <ion-title>Editar Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-card class="user-card">
    <ion-card-header>
      <ion-card-title class="card-title">Información del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <form [formGroup]="usuarioForm" (ngSubmit)="actualizarUsuario()">
        <ion-item>
          <ion-label class="input-label" position="stacked">Nombre</ion-label>
          <ion-input class="input-field" formControlName="firstName" placeholder="Ingrese su nombre"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label class="input-label" position="stacked">Segundo Nombre</ion-label>
          <ion-input class="input-field" formControlName="secondName" placeholder="Ingrese su segundo nombre"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label class="input-label" position="stacked">Apellido Materno</ion-label>
          <ion-input class="input-field" formControlName="firstLastName" placeholder="Ingrese su apellido materno"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label class="input-label" position="stacked">Apellido Paterno</ion-label>
          <ion-input class="input-field" formControlName="secondLastName" placeholder="Ingrese su apellido paterno"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label class="input-label" position="stacked">Teléfono</ion-label>
          <ion-input class="input-field" formControlName="phone" type="tel" (ionInput)="onPhoneInput($event)" placeholder="Ingrese su teléfono"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label class="input-label" position="stacked">Email</ion-label>
          <ion-input class="input-field" formControlName="email" placeholder="Ingrese su email"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>¿Cambiar Contraseña?</ion-label>
          <ion-checkbox slot="end" class="pregunta" formControlName="changePassword"></ion-checkbox>
        </ion-item>
  
        <ion-item *ngIf="usuarioForm.get('changePassword')?.value">
          <ion-label position="stacked">Nueva Contraseña</ion-label>
          <ion-input type="password" formControlName="passwordNew" placeholder="Ingrese nueva contraseña"></ion-input>
        </ion-item>
        
        <!-- Botón para guardar cambios -->
        <div class="button-container">
          <ion-button type="submit" expand="full" [disabled]="!usuarioForm.valid">Guardar Cambios</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  

  <app-footer></app-footer>
</ion-content>
