<ion-header class="header-custom">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-img class="logo" src="assets/img/logo.png" slot="start"></ion-img>

    <ion-searchbar class="searchbar-custom" placeholder="Buscar"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/login">Iniciar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-title">
    <ion-title class="main-title">¡Bienvenido a Nuestra Tienda!</ion-title>
    <p class="sub-title">Explora nuestros productos y ofertas exclusivas</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-start">
        <ion-button 
        expand="full" 
        fill="solid" 
        routerLink="/categoria" 
        class="custom-button">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      Volver a la categoría
    </ion-button>
    
          </ion-col>
    </ion-row>
  </ion-grid>

  <div class="product-section">
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let producto of productos">
          <ion-card>
            <div *ngIf="producto.imagen">
              <img [src]="'data:image/png;base64,' + producto.imagen" alt="Imagen del Producto" class="image-preview">
            </div>
            <ion-card-header>
              <ion-card-title>{{ producto.productName }}</ion-card-title>
              <p>${{ producto.precio?.toFixed(2) }}</p>
            </ion-card-header>
            <ion-card-content>
              <p>{{ producto.descripcion || 'Descripción no disponible' }}</p>
              <ion-button class="custom-button12" expand="full" (click)="agregarAlCarrito(producto)">Agregar al carrito</ion-button>
              <ion-button class="custom-button" expand="full" (click)="comprarAhora(producto)">Comprar ahora</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-footer class="footer">
    <div class="footer-section">
      <ion-title>Contacto</ion-title>
      <p>Email: contacto&#64;tienda.com</p>
      <p>Teléfono: +123 456 7890</p>
    </div>

    <div class="footer-section social-media">
      <ion-title>Redes Sociales</ion-title>
      <ion-buttons>
        <ion-button href="https://facebook.com" color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button href="https://instagram.com" color="light">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
        <ion-button href="https://twitter.com" color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-footer>
</ion-content>
