$primary-color: #3880ff;
$secondary-color: #f4f4f4;
$card-bg-color: #fff;
$text-color: #333;

.hover-item {
  transition: background-color 0.2s ease; /* Transición suave */
}

.hover-item:hover {
  background-color: $primary-color; /* Color celeste */
}

.destacado {
  max-width: 100%;    /* Asegura que las imágenes no excedan el tamaño del contenedor */
  max-height: 250px;  /* Limita la altura para mantenerlas en la misma fila */
  object-fit: contain; /* Mantiene las proporciones de las imágenes */
}

.header-custom {
  background-color: $primary-color;
  color: white;
  padding: 10px;

  .logo {
    width: 40px; // Ajusta según sea necesario
  }

  ion-searchbar {
    --background: white;
    --color: $text-color;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
  }
}

.user-detail {
  text-align: right;
  font-size: 16px;
  color: $text-color;
}

.featured-carousel {
  width: 100%;
  height: 200px; // Ajusta según sea necesario

  ion-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    
    ion-img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover; // Para mantener la relación de aspecto
    }
  }
}


.product-card {
  background-color: $card-bg-color;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  ion-card-header {
    background-color: $primary-color;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    ion-img {
      max-height: 150px;
      object-fit: contain;
    }
  }

  .product-price {
    font-size: 18px;
    font-weight: bold;
    color: $primary-color;
    text-align: center;
    margin: 10px 0;
  }
}

.product-row {
  display: flex;
  overflow-x: auto;

  ion-card {
    margin: 0 5px;
  }
}

.footer {
  background-color: #f8f8f8;
}

.footer-section {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.social-media ion-button {
  margin: 0 5px; /* Espaciado entre iconos */
}

ion-footer ion-toolbar {
  display: flex;
  justify-content: space-around; /* Distribuye las secciones uniformemente */
  align-items: center;
}

ion-footer ion-title {
  font-size: 1rem; /* Tamaño de fuente para título */
  color: #333;
}


