<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-carrusel></app-carrusel>  

  <ion-header>  
    <ion-toolbar>  
      <ion-buttons slot="start">  
        <ion-back-button defaultHref="/perfil"></ion-back-button>  
      </ion-buttons>  
      <ion-title>¡Gestión de Etiquetas de Productos!</ion-title>  
    </ion-toolbar>  
  </ion-header> 
  
  <div class="container-card">
    <div class="direccion-section">
      <div class="btn-container">
        <button class="btn btn-primary" (click)="navigateToCrearEtiqueta()">
          Agregar Nueva Etiqueta
        </button>
      </div>

      <div class="table-card">
        <ion-card-content>
          <table class="direccion-table">
            <thead>
              <tr>
                <th>etiquetaId</th>
                <th>nombreEtiqueta</th>
                <th>detalleEtiqueta</th>
                <th>Conexión</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let etiqueta of etiquetas">
                <td>{{ etiqueta?.etiquetaId || 'No disponible' }}</td>
                <td>{{ etiqueta?.nombreEtiqueta || 'No disponible' }}</td>
                <td>{{ etiqueta?.detalleEtiqueta || 'No disponible' }}</td>
                <td>{{ etiqueta?.conexion || 'false' }}</td>

                <ion-item *ngIf="etiqueta.conexion === true">
                  <td><button class="btn btn-primary">Eliminar</button></td>
                </ion-item>
                <ion-item *ngIf="etiqueta.conexion !== true">
                  <td><button class="btn btn-primary" (click)="agregarEtiquetaProducto(etiqueta.etiquetaId,this.ProductoId)">Agregar</button></td>
                </ion-item>
                
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </div>

      <ion-item *ngIf="etiquetas.length === 0">
        <ion-label class="noAhi">No se encontraron etiquetas guardadas.</ion-label>
      </ion-item>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
