.info-guia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
}

.detalle-header {
  margin-bottom: 16px;
}

.detalle-titulo {
  font-size: 26px;
  font-weight: bold;
  color: #333; /* Texto más oscuro para contraste */
  text-transform: uppercase; /* Texto en mayúsculas para destacar */
  margin-bottom: 16px;
}

.detalle-contenido {
  background-color: #ffffff; /* Fondo blanco */
  padding: 24px; /* Más espacio interno */
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5); /* Sombra más suave */
  width: 100%;
  max-width: 600px; /* Ancho máximo para el cuadro */
  text-align: left; /* Alinear texto a la izquierda */
}

.detalle-contenido ul {
  list-style-type: disc; /* Puntos para lista */
  padding-left: 20px; /* Espaciado de lista */
}

.detalle-contenido li {
  font-size: 18px;
  line-height: 1.8; /* Más espacio entre líneas */
  color: #555; /* Texto en gris oscuro */
  margin-bottom: 12px; /* Espacio entre elementos de la lista */
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.loading-container p {
  margin-top: 8px;
  font-size: 16px;
  color: #666;
}

@media (max-width: 768px) {
  .detalle-contenido {
    padding: 16px; /* Reducir padding en pantallas pequeñas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más ligera */
  }

  .detalle-titulo {
    font-size: 22px; /* Título más pequeño en pantallas pequeñas */
  }

  .detalle-contenido li {
    font-size: 16px; /* Reducir tamaño de fuente en pantallas pequeñas */
  }
}
