<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-carrusel></app-carrusel>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo"></ion-back-button>
      </ion-buttons>
      <ion-title>Volver al Catálogo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="info-producto">
    <h2>{{ guia.detalle }}</h2>

    <div *ngIf="guia; else loading">
      <div class="producto-detalle">

        <div class="producto-info">
          <h3>{{ guia.detalle }}</h3>



        </div>
      </div>
    </div>

    <ng-template #loading>
      <p>Cargando detalles de ls guia...</p>
    </ng-template>
  </div>






  <app-footer></app-footer>
</ion-content>