<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/guias"></ion-back-button>
      </ion-buttons>
      <ion-title>Volver a Guías</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="info-guia">
    <ng-container *ngIf="guia; else loading">
      <!-- Título principal del detalle -->
      <div class="detalle-header">
        <h1 class="detalle-titulo">Detalles de la Guía</h1>
      </div>

      <!-- Contenido del detalle en formato lista -->
      <div class="detalle-contenido">
        <ul>
          <li *ngFor="let frase of frases">
            {{ frase }}
          </li>
        </ul>
      </div>
    </ng-container>

    <ng-template #loading>
      <p>Cargando detalles de la guía...</p>
    </ng-template>
  </div>

  <app-footer></app-footer>
</ion-content>
