<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-header>
    <ion-toolbar>
      <ion-title>Ver Perfil Empleado</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu-trabajador"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="container-card">
    <div class="categoria-section">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-router-link routerLink="/maestro-categoria-crear">
              <ion-button expand="block">Nueva Categoría</ion-button>
            </ion-router-link>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" size-md="4" size-lg="2" *ngFor="let categoria of categorias">
            <ion-card>
              <div class="image-container">  
                <img [src]="categoria.imagen ? 'data:image/png;base64,' + categoria.imagen : 'assets/img/default.jpg'" alt="Imagen de categoría" class="image-preview">  
              </div>  
              <ion-card-header>
                <ion-card-title>{{ categoria.catName || 'Categoría no disponible' }}</ion-card-title>
                <p>ID: {{ categoria.catId || 'No disponible' }}</p>
              </ion-card-header>
              <ion-card-content>
                <p>Detalle: {{ categoria.catDetalle || 'No disponible' }}</p>
                <p>
                  Estado: 
                  <span [ngClass]="{'active-status': categoria.status === 1, 'inactive-status': categoria.status === 0}">
                    {{ categoria.status === 1 ? 'Activo' : 'Inactivo' }}
                  </span>
                </p>
                <div class="action-buttons">
                  <ion-button color="primary" (click)="modificarCategoria(categoria.catId)">
                    Modificar
                  </ion-button>
                  <ion-button color="danger" (click)="eliminarCategoria(categoria.catId)">
                    Eliminar
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          
        </ion-row>
      </ion-grid>
      
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
