<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-carrusel></app-carrusel>
  <ion-header>
    <ion-toolbar>
      <ion-title>Gestión de Kardex</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/index"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="container-card">
  

    <div class="kardex-section">
      <div class="btn-container">
        <a href="/kardex-crear">
        <button class="btn btn-primary">
          Agregar Nuevo Registro de Kardex
        </button>
      </a>
      </div>
       </div>
    </div>

    <div class="container-card">



      <div class="kardex-section">


        <!-- Tabla de registros de kardex -->
        <div class="table-card">
          <ion-card-content>
            <table class="direccion-table">
              <thead>
                <tr>
                  <th>Kardex ID</th>
                  <th>Producto ID</th>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th>Entrada</th>
                  <th>Salida</th>
            
                 
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let kardex of kardexRecords">
                  <td>{{ kardex?.kardexId || 'No disponible' }}</td>
                  <td>{{ kardex?.productoProductId || 'No disponible' }}</td>
                  <td>{{ kardex?.fecha | date:'yyyy-MM-dd' }}</td>
                  <td>{{ kardex?.hora || 'No disponible' }}</td>
                  <td>{{ kardex?.entrada || 0 }}</td>
                  <td>{{ kardex?.salida || 0 }}</td>
     
                </tr>
              </tbody>
            </table>
          </ion-card-content>
        </div>

        <!-- Mensaje si no hay registros de kardex -->
        <ion-item *ngIf="kardexRecords.length === 0">
          <ion-label class="noAhi">No se encontraron registros de kardex guardados.</ion-label>
        </ion-item>
      </div>
    </div>
    <app-footer></app-footer>
</ion-content>